.btn{
    outline: none;
    border: none;
    color: #fff;
    background: $font;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    overflow: hidden;

    padding: 12.5px 35px;
    &--link{
      background: none;
      color: $secondary;
      padding: 0px 0px!important;
      line-height: 1.4rem;
      font-size: 1.4rem;
      text-align: left;
      border-bottom: 1px solid $secondary;
    }
    &--primary{
      background: none;
      color: $font-dark;
      letter-spacing: 6px;
      font-weight: 600;
      font-size: 1.4rem;
      position: relative;
      transition: all .3s ease-out;
      padding: 12px 4px;
      &::before{
        content: '';
        position: absolute;
        background: rgba($font-dark,.15);
        left: 0;
        top: 0;
        width: 40px;
        height: 40px;
        border-radius: 250px;
        animation: btnanimationOut .6s linear;
        animation-fill-mode: forwards;
      }
      &:hover::before{
         animation: btnanimationIn .6s linear;
         animation-fill-mode: forwards;
      }
    }
  }